  <div class="text-white back">
    <div class="m-auto col-4 text-center">
      <a href="/"class=" text-white text-decoration-none"><span class="fs-4 shadow"><img style="height: 80px; width: 100px" src="assets/image/—Pngtree—cartoon%20student%20at%20school%20scene_3681756.png">YabaSchool</span> </a>
    </div>
   <div class="col-6 m-auto">
      <app-nav-bar></app-nav-bar>
   </div>
  </div>
  <div class="container align-content-center mt-3 shadow-sm">
    <router-outlet></router-outlet>
  </div>

