  <hr>
  <ul class="nav  navbar-expand-md m-auto ">
    <li> <a routerLink="" class="nav-link text-white"> <i class="fa fa-home"></i><span class="ms-2">Home</span> </a> </li>
    <li> <a routerLink="Classes" class="nav-link text-white"> <i class="fa fa-first-order"></i><span class="ms-2">Classes</span> </a> </li>
    <li> <a routerLink="Students" class="nav-link text-white"> <i class="fa fa-graduation-cap"></i><span class="ms-2">Elèves</span> </a> </li>
    <li> <a routerLink="Teachers" class="nav-link text-white"> <i class="fa fa-user"></i><span class="ms-2">Professeurs</span> </a> </li>
    <li> <a routerLink="Courses" class="nav-link text-white"> <i class="fa fa-book"></i><span class="ms-2">Matieres</span> </a> </li>
  </ul>
  <hr>
