<div class="mt-3 col-9 m-auto">
  <button class="btn color mb-2 text-white" (click)="create()"><i class="fa fa-plus"></i> New Course</button>
  <table class="table table-hover ">
    <thead class="color text-center text-white">
    <tr>
      <td>Intitulé</td><td>Année</td><td>Professeur</td><td>Actions</td>
    </tr>
    </thead>
    <tbody class="text-center ">
    <tr *ngFor="let c of courses">
      <td>{{c.title}}</td>
      <td>{{c.year}}</td>
      <td>{{c.teacher.firstName}} {{c.teacher.lastName}}</td>
      <td>
        <button class="btn btn-outline-info me-2" (click)="update(c.id)"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-outline-danger" (click)="delete(c.id)"><i class="fa fa-trash-o"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
